<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center title-center">
      Mis Tareas
      <ion-icon name="heart" color="primary"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-todo-filter
    [categories]="categories()"
    [searchTerm]="searchTerm()"
    [selectedCategoryId]="selectedCategoryId()"
    (searchChange)="onSearchChange($event)"
    (categoryChange)="onCategoryChange($event)">
  </app-todo-filter>

  @if (filteredTodos(); as todos) {
    @if (todos.length > 0) {

      <cdk-virtual-scroll-viewport class="todo-viewport" [itemSize]="88" [minBufferPx]="352" [maxBufferPx]="704">
        <div class="todo-list">
          <app-todo-item
            *cdkVirtualFor="let todo of todos; trackBy: trackTodoById"
            [todo]="todo"
            [category]="categoryById(todo.categoryId)"
            (toggle)="toggleTodoCompletion($event)"
            (edit)="openEditTodo($event)"
            (remove)="removeTodo($event)">
          </app-todo-item>
        </div>
      </cdk-virtual-scroll-viewport>
    }  @else {
      <div class="empty-state ion-text-center ion-padding">
        <p>No hay tareas para el filtro actual.</p>
        <p>Ajusta la busqueda o crea una nueva tarea.</p>
      </div>
    }
  } 
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <div class="fab-group">
      <ion-fab-button size="small" class="categories-fab" (click)="openCategories()" aria-label="Gestionar categorias">
        <ion-icon name="pricetags-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="add-fab" (click)="openAddTodo()" aria-label="Crear tarea">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab>

</ion-content>
