<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center title-center">
      Mis Tareas
      <ion-icon name="heart" color="primary"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <!-- app-todo-item *ngFor aquí -->
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <div class="fab-group">
      <ion-fab-button size="small" class="categories-fab" (click)="openCategories()" aria-label="Gestionar categorias">
        <ion-icon name="pricetags-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="add-fab" (click)="openAddTodo()" aria-label="Crear tarea">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab>

</ion-content>
